{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>{{ title }}</h1>

  <div class="container-fluid">
    <div class="row d-flex flex-row flex-nowrap overflow-auto">
      {% for day in days %}
      
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h2 class="card-title text-center">{{ day.date|date:'m/d'  }}</h2>
        {% for location in day.locations %}
        <div class="card mb-3 bg-light">
          <div class="card-body">
            <h5 class="card-title" style="color:darkblue;">{{ location.name }}</h5>
            <ul>
            {% for event in location.events %}
              <li class="card-text">{{ event.summary }} ({{ event.start|date:'g:i a' }} to {{ event.end|date:'g:i a' }})</p>
            {% empty %}
              <li class="card-text">No Events Scheduled</p>
            {% endfor %}
            
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      </div>
    </div>

{% endblock %}




